<template>
      <main>
        <header class="header">
            <div class="menu">
                <span class="icon">Sabuesos</span>
                <img class="menu-icon" src="img/icons/menu.png" alt="Menú" title="Menú">
                <nav>
                    <ul>
                        <li class="active"><a href="index.html">Inicio</a></li>
                        <li><a href="services.html">Servicios</a></li>
                        <li><a href="team.html">Nuestro Equipo</a></li>
                        <li><a href="contact.html">Contacto</a></li>
                        <li><a href="faq.html">Faq</a></li>
                    </ul>
                </nav>
            </div>
            <div class="header-info">
                <div class="header-text">
                    <span class="text text-one">Porque tu mascota</span>
                    <span class="text text-two">Merece lo mejor</span>
                    <span class="text text-three">Porque tu mascota merece lo mejor</span>
                    <a class="btn-contact">Contáctenos</a>
                </div>
                <div class="header-image">

                </div>

            </div>

        </header>

        <section class="section-categories">
            <div class="title-section">
                <h2>NUESTROS SERVICIOS</h2>
            </div>
            <div class="services">
                <template v-for="service of services">
                    <div class="card-service">
                        <img src="img/services/service-one.jpg" alt="Avatar" style="width:100%">
                        <div class="container">
                            <h4><b>{{service.name}}</b></h4>
                        </div>
                    </div>

                </template>
            </div>
        </section>
        <section class="section-team">
            <div class="title-section">
                <h2>NUESTRO EQUIPO</h2>
            </div>
            <div class="team">

                <div class="card-team">
                    <div class="card_img">
                        <img src="img/services/service-three.jpg" alt="user-image">
                    </div>
                    <div class="card_info">
                        <a href="#!">loremIpsum.com</a>
                    </div>
                </div>
                <div class="card-team">
                    <div class="card_img">
                        <img src="img/services/service-three.jpg" alt="user-image">
                    </div>
                    <div class="card_info">
                        <a href="#!">loremIpsum.com</a>
                    </div>
                </div>
                <div class="card-team">
                    <div class="card_img">
                        <img src="img/services/service-three.jpg" alt="user-image">
                    </div>
                    <div class="card_info">
                        <a href="#!">loremIpsum.com</a>
                    </div>
                </div>
                <div class="card-team">
                    <div class="card_img">
                        <img src="img/services/service-three.jpg" alt="user-image">
                    </div>
                    <div class="card_info">
                        <a href="#!">loremIpsum.com</a>
                    </div>
                </div>

            </div>
        </section>
        <footer>
            <div class="card-footer">
                <div class="title-subscribe">
                    <h3>Suscríbete y recibe Descuentos!</h3>
                </div>
                <form action="" method="POST" enctype="multipart/form-data">
                    <div class="form-group">
                        <input type="text" class="input-footer" id="email" name="email" placeholder="Correo electrónico" />
                    </div>
                    <div class="form-group">
                        <button class="btn-footer" type="submit">Suscribirme</button>
                    </div>


                </form>

            </div>
        </footer>
    </main>
</template>
<script>
    import TaskModel from '../../resources/js/models/Task.model';
    
    export default {    
        data(){
            return {
                task: new TaskModel(),
                tasks: [],
                edit: false,
                taskId:null,
                services:[]
            }
        },
        created(){
            this.getServices();
        },
        methods:{
            getServices(){
                fetch('/api/services/all')
                .then(res => res.json())
                .then(data => {
                    this.services = data;
                })
            },
            
        }
    }
</script>
<style>

:root {
    --color-yellow: #FEC432;
    --color-purple: #6F69AC;
    --color-white: #fff;
    --color-pink: #FF449F;
    --color-gray: #efefef;
}

* {
    padding: 0;
    margin: 0;
} 

html,
body {
    width: 100%;
    height: 100%;
}

.main {
    width: 100%;
}

.header {
    background: var(--color-yellow);
    /* height: 350px; */
    padding: 10px 10px 10px 40px;
    margin-bottom: 0;
}

.menu {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}

.icon {
    font-family: 'Pacifico', cursive;
    font-size: 30px;
    color: #6F69AC;
}

.menu-icon {
    display: none;
}

.menu nav ul {
    display: flex;
    flex-direction: row;
}

.header nav ul li {
    list-style: none;
    text-decoration: none;
    text-transform: uppercase;
    margin: 10px 10px;
}

.header nav ul li a {
    text-decoration: none;
    color: var(--color-purple);
    font-weight: bold;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    padding: 5px 8px;
}

.header nav ul li a:hover {
    background: var(--color-pink);
    color: var(--color-white);
    border-radius: 10px;
}

.active a {
    background: var(--color-pink);
    color: var(--color-white) !important;
    border-radius: 10px;
}

.header-info {
    display: flex;
    flex-direction: row;
}

.header-image {
    /* background-image: url('../img/header.jpg'); */
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
    height: 400px;
}

.header-text {
    width: 50%;
}

.header-text {
    display: flex;
    flex-direction: column;
}

.text {
    font-size: 70px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}

.text-one {
    color: var(--color-purple);
}

.text-two {
    color: var(--color-white);
}

.text-three {
    display: none;
}

.btn-contact {
    text-decoration: none;
    color: var(--color-white);
    background-color: var(--color-pink);
    border-radius: 10px;
    height: 38px;
    padding: 10px 15px 10px 10px;
    text-transform: uppercase;
    font-size: 30px;
    width: 30%;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    text-align: center;
    align-items: center;
}

.section-categories {
    background: var(--color-gray);
    text-align: center;
    padding: 30px;
}

.section-categories .title-section h2 {
    color: var(--color-purple);
}

.title-section h2 {
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    margin: 0 auto;
}


/* card services*/

.services {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 50px 0;
}

.card-service {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 25%;
}

.card-service:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container {
    padding: 2px 16px;
    background: var(--color-pink);
    color: var(--color-white);
    font-family: 'Raleway', sans-serif;
}


/*team*/

.section-team {
    background: var(--color-white);
    text-align: center;
    padding: 30px;
}

.section-team .title-section h2 {
    color: var(--color-yellow);
}

.team {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 150px 0;
}

.card-team {
    border-radius: 6px;
    width: 20%;
    height: 350px;
    text-align: center;
}

.card_img {
    width: 70%;
    height: 250px;
    overflow: hidden;
    border-radius: 100%;
    margin: -60px auto 0;
}

.card_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card_info {
    padding: 30px;
    text-transform: uppercase;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: var(--color-pink);
    font-family: 'Raleway', sans-serif;
}

a:hover {
    color: black;
}

footer {
    background: var(--color-pink);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px;
}

footer nav {
    padding-top: 50px;
}

footer nav ul {
    list-style: none;
    align-content: center;
    display: flex;
}

footer nav ul li {
    display: flex;
    flex-direction: row;
    padding: 6px;
    align-items: center;
    align-content: center;
    text-align: center;
    margin: 0 auto;
}

footer nav ul li a {
    text-decoration: none;
    color: var(--color-white);
    font-size: 20px;
    cursor: pointer;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
}

.social-media nav {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-content: center;
}

.card-footer {
    width: 50%;
}

.title-subscribe {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    align-items: center;
}

.title-subscribe h3 {
    color: var(--color-white);
    font-size: 20px;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
}

.form-group {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    align-items: center;
}

.form-group input {
    width: 50%;
    height: 30px;
    padding: 5px;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    text-align: center;
    margin: 10px auto;
}

.form-group button {
    width: 50%;
    height: 30px;
    padding: 5px;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 10px;
    color: var(--color-purple);
    background: var(--color-yellow);
    font-weight: bold;
    cursor: pointer;
}

.form-group button:hover {
    color: var(--color-yellow);
    background: var(--color-purple);
}

</style>
